
import { ChangeDetectionStrategy, Component } from '@angular/core';

@Component({
    changeDetection: ChangeDetectionStrategy.OnPush,
    selector: 'app-<%= dasherize(name) %>-list-page',
    templateUrl: './<%= dasherize(name) %>-list-page.component.html',
    styleUrls: ['./<%= dasherize(name) %>-list-page.component.scss'],
})
export class <%= classify(name) %>ListPageComponent {}
  


