import { ResourceEnum } from './resource.enum';

export abstract class ResourcesService {
    public static resources: string[] = [
       ResourceEnum.ALL.toString(),
       ResourceEnum.SOME.toString(),
    ];

    public static addResources(resources: string[]): void {
        ResourcesService.resources.push(...resources);
    } 
}
