import { RoleDataService } from '<%= apiPath %>/role';

import { CommonModule } from '@angular/common';
import { NgModule } from '@angular/core';

import { RoleDataServiceImpl } from './service';

@NgModule({
    imports: [CommonModule],
    providers: [
        {
            provide: RoleDataService,
            useClass:RoleDataServiceImpl,
        },
    ],
})
export class RoleDataModule {}